body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.box {
	height: 95vh;
	font-size: 4em;
}

.container > :nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: center;
}

.charSelect{
	background-color: #000;
	width: 100%;
	height: 5vh;
	display: flex;
	color: #fff;
}

.char {
	flex-grow: 1;
	text-align: center;
	font-size: 2em;
	line-height: 4vh;
}

.char:hover {
	cursor: pointer;
}

.koreanChar {
	width: 45%;
	font-size: 20em;
	text-align: center;
}

.englishTranslation {
	width: 48%;
	font-size: 8em;
	text-align: left;
	margin:0;
}

.englishChar {
	width: 100%;
	text-align: center;
	margin-bottom: 0;
}

.desc {
	font-size: 0.3em;
	width: 100%;
	text-align: center;
	padding-left: 10px;
}

.emoji {
	width: 100%;
	text-align: center;
	margin: 0;
}

.welcome {
	font-size: 0.5em;
}

@media screen and (max-width: 800px){
	
	.container {
		display: flex;
		flex-wrap: wrap;
	}
	
	.charSelect{
		width: 6vw;
		height: 100vh;
		flex-flow: column;
	}
	
	.koreanChar {
		width: 90vw;
		height: 40vh;
		font-size: 15em;
	}

	.englishTranslation {
		width: 80vw;
		height: 40vh;
		font-size: 6em;
	}
	
	.englishChar {
		margin-top: 0;
	}
	
	.desc {
		font-size: 0.2em;
	}
}